[submodule "exercise-05-memory-game"]
	path = exercise-05-memory-game
	url = https://github.com/YaakovHatam/exercise-05-memory-game
[submodule "exercise-08-pokemon"]
	path = exercise-08-pokemon
	url = https://github.com/YaakovHatam/exercise-08-pokemon
[submodule "exercise-01-order-tickets"]
	path = exercise-01-order-tickets
	url = https://github.com/YaakovHatam/exercise-01-order-tickets
[submodule "exercise-03-smart-quotes"]
	path = exercise-03-smart-quotes
	url = https://github.com/YaakovHatam/exercise-03-smart-quotes
